{{yield}}
<div class="row isogrid">
  <div class="grid-sizer"></div>
{{#each model as |pauta|}}
  <div class="col l3 m4 s12 isoitem">
  {{!-- {{g-maps name="my-map" lat=lat lng=lng zoom=zoom  class="img-responsive"}}  --}}
    {{#md-card title=pauta.retranca
    image='http://placehold.it/200x200'
    activator=true}}
    {{#md-card-content}}
      <br>
      <p>
        {{substr pauta.encaminhamento size=12}}
        {{!-- {{pauta.encaminhamento}} --}}
      </p>
      <br>
      <p>
        Envolvidos: {{pautas-total-users pauta.equipe}}
      </p>
      <ul class="list-inline list-unstyled">
        {{#each pauta.equipe as |user|}}
          <li>
            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do usuário participante da equipe" title="{{user.displayName}}">
          </li>
        {{/each}}
      </ul>
      <br>
      {{#if pauta.lat}}
        {{g-maps name="my-map" lat=pauta.lat lng=pauta.lng zoom=14 class="img-responsive"}}
      {{/if}}
      {{#if session.currentUser.isAdmin}}
        {{md-btn text='Abrir pauta' on-edit="editPauta" action="editPauta" actionArg=pauta.slug 
          buttonType="flat" 
          class='indigo white-text btn-ler-mais'}}
      {{else}}
  	    {{md-btn text='Ver pauta' on-ver="verPauta" action="verPauta" actionArg=pauta.slug 
  			buttonType="flat" 
  			class='indigo white-text btn-ler-mais'}}
      {{/if}}
      {{link-to "excluir" "pauta.excluir" pauta.slug}}
    {{/md-card-content}}
    {{#md-card-reveal}}
      <p>
        Data e Hora:
        <hr>
        {{pauta.dataHora}}
      </p>
      <p>
        Local:
        <hr>
        {{pauta.local}}
      </p>
      <p>
        Informações:
        <hr>
        <small class="text-left">
          {{pauta.informacoes}}
        </small>
      </p>
    {{/md-card-reveal}}
{{/md-card}}
  </div>
{{/each}}
</div>