<div class="container">
	<div class="row">
		  <div class="col s12 m12 l12">
		  	{{g-maps zoom_changed="myZoomChanged" name="my-map" lat=lat lng=lng zoom=zoom markers=markers class="img-responsive"}}
		  </div>
	</div>
	<div class="row">
		{{md-input value=pauta.retranca label='Retranca' type="text" class="col s12 m12 l12" validate=true}}
		
		<div class="col s12 m12 l12">
			<label for="local">Local</label>
			{{g-autocomplete value=pauta.local on-select=(action 'didUpdatePlace')}}
		</div>
		
		{{md-input-date label='Data' value=pauta.dataHora class="col s12 m12"}}
		
		{{md-input label='Horário' type="time" value=pauta.horario class="col s12 m4 l4"}}
		{{md-input value=pauta.entrevistado label='Entrevistado' type="text" class="col s12 m4 l4" validate=true}}
		{{md-input value=pauta.contato label='Contato' type="text" class="col s12 m4 l4" validate=true}}
	</div>

	{{!-- CONTEÚDOS LONGOS --}}
	<div class="row">
	  {{md-textarea label='Encaminhamento'
	    value=pauta.encaminhamento class="col s12 m12 l12"}}
	</div>
	<div class="row">
	  {{md-textarea label='Informações'
	    value=pauta.informacoes class="col s12 m12 l12"}}
	</div>
	<div class="row">
	  {{md-textarea label='Sugestões'
	    value=pauta.sugestoes class="col s12 m12 l12"}}
	</div>

	<div class="row">
		<div class="col s12 l6 m6">
			<label>Motorista</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each motorista as |user|}}
				  	<li class="equipe-item">
						<img src="{{user.photoURL}}" alt="imagem do motorista" class="card-user-image">
						<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromMotorista" user}}></i>
					</li>
				{{/each}}
			</ul>
			{{md-select content=user 
			  value=usuarioEscolhidoMotorista
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToMotorista" buttonType='floating'
				class='' actionArg=usuarioEscolhidoMotorista}}
		</div>
		<div class="col s12 l6 m6">
			<label>Reporter</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each reporter as |user|}}
				  	<li class="equipe-item">
						<img src="{{user.photoURL}}" alt="imagem do repórter" class="card-user-image">
						<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromReporter" user}}></i>
					</li>
				{{/each}}
			</ul>
			{{md-select content=user  
			  value=usuarioEscolhidoReporter
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToReporter" buttonType='floating'
				class='' actionArg=usuarioEscolhidoReporter}}
		</div>
		<br>
		<div class="col s12 l6 m6 user-add-funcao">
			<label>Fotografo</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each fotografo as |user|}}
				  	<li class="equipe-item">
						<img src="{{user.photoURL}}" alt="imagem do fotógrafo" class="card-user-image">
						<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromFotografo" user}}></i>
					</li>
				{{/each}}
			</ul>
			{{md-select content=user 
			  value=usuarioEscolhidoFotografo
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToFotografo" buttonType='floating'
				class='' actionArg=usuarioEscolhidoFotografo}}
		</div>
		<div class="col s12 l6 m6 user-add-funcao">
			<label>Producao</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each producao as |user|}}
				  <li>
				  	<img src="{{user.photoURL}}" alt="imagem do producao" class="card-user-image">
				  </li>
				{{/each}}
			</ul>
			{{md-select content=user  
			  value=usuarioEscolhidoProducao
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToProducao" buttonType='floating'
				class='' actionArg=usuarioEscolhidoProducao}}
		</div>
	</div>

	{{!-- <div class="row">
		<div class="col l12 m12 s12">
			{{#each model.pauta.user as |usuario|}}
				{{usuario.displayName}} <br>
			{{/each}}
		</div>
	</div> --}}

	<div class="row">
		<div class="col s12 m12">
			{{md-btn-submit icon='mdi-content-send'
		    iconPosition='right' action="addPauta" on-action="addPauta" actionArg=pauta text='Adicionar pauta'}}
		</div>
	</div>
</div>