<div class="container">
	{{!-- LOCAL FORMADO POR LAT E LNG COM MAPA --}}
	<div class="row">
		{{!-- <div class="col l2 m2 s12">&nbsp;</div> --}}
		<div class="col l12 m12 s12">
			{{#md-card title=pauta.retranca
			    image=(pauta-minimap pauta.lat pauta.lng "ver")
			    activator=true}}
			    {{#md-card-content}}
			      <br>
			      <p>
			        {{substr pauta.encaminhamento size=12}}
			        {{!-- {{pauta.encaminhamento}} --}}
			      </p>
			      <br>
			      <p>
			        Equipe: {{pautas-total-users pauta.equipe}}
			      </p>
			      <ul class="list-inline list-unstyled">
			        {{#each pauta.equipe as |user|}}
			          <li>
			            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do usuário participante da equipe" title="{{user.displayName}}">
			          </li>
			        {{/each}}
			      </ul>
			      <p>
			        Producao: {{pautas-total-users pauta.producao}}
			      </p>
			      <ul class="list-inline list-unstyled">
			        {{#each pauta.producao as |user|}}
			          <li>
			            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do usuário participante da equipe" title="{{user.displayName}}">
			          </li>
			        {{/each}}
			      </ul>
			    {{/md-card-content}}
			    {{#md-card-reveal}}
			      <p>
			        Data e Hora:
			        <hr>
			        {{pauta.dataHora}}
			      </p>
			      <p>
			        Local:
			        <hr>
			        {{pauta.local}}
			      </p>
			      <p>
			        Informações:
			        <hr>
			        <small class="text-left">
			          {{pauta.informacoes}}
			        </small>
			      </p>
			    {{/md-card-reveal}}
			{{/md-card}}
		</div>
		{{!-- <div class="col l2 m2 s12">&nbsp;</div> --}}
	</div>
</div>