<div class="container">
	{{!-- LOCAL FORMADO POR LAT E LNG COM MAPA --}}
	<div class="row">
		{{!-- <div class="col l2 m2 s12">&nbsp;</div> --}}
		<div class="col l12 m12 s12">
			{{#md-card title=pauta.retranca
			    image=(pauta-minimap pauta.lat pauta.lng "ver")
			    activator=true}}
			    {{#md-card-content}}
			      <br>
			      <p>
			        {{substr pauta.encaminhamento size=12}}
			        {{!-- {{pauta.encaminhamento}} --}}
			      </p>
			      <br>
			      <div class="row">
			      	<div class="col s6 m3 l3">
				      <p>
				        Motorista:
				      </p>
				      <ul class="list-inline list-unstyled">
				        {{#each pauta.motorista as |user|}}
				          <li>
				            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do motorista" title="{{user.displayName}}">
				          </li>
				        {{/each}}
				      </ul>
				    </div>
				    <div class="col s6 m3 l3">
				      <p>
				        Repórter:
				      </p>
				      <ul class="list-inline list-unstyled">
				        {{#each pauta.reporter as |user|}}
				          <li>
				            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do repórter" title="{{user.displayName}}">
				          </li>
				        {{/each}}
				      </ul>
				    </div>
				    <div class="col s6 m3 l3">
				      <p>
				        Fotógrafo:
				      </p>
				      <ul class="list-inline list-unstyled">
				        {{#each pauta.fotografo as |user|}}
				          <li>
				            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do fotógrafo" title="{{user.displayName}}">
				          </li>
				        {{/each}}
				      </ul>
				    </div>
				    <div class="col s6 m3 l3">
				      <p>
				        Produção:
				      </p>
				      <ul class="list-inline list-unstyled">
				        {{#each pauta.producao as |user|}}
				          <li>
				            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do produtor" title="{{user.displayName}}">
				          </li>
				        {{/each}}
				      </ul>
				    </div>
				  </div>
			       {{!-- <p>
			        Repórter:
			      </p>
			      <ul class="list-inline list-unstyled">
			        {{#each pauta.reporter as |user|}}
			          <li>
			            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do usuário participante da equipe" title="{{user.displayName}}">
			          </li>
			        {{/each}}
			      </ul>
			       <p>
			        Fotógrafo:
			      </p>
			      <ul class="list-inline list-unstyled">
			        {{#each pauta.fotografo as |user|}}
			          <li>
			            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do usuário participante da equipe" title="{{user.displayName}}">
			          </li>
			        {{/each}}
			      </ul>
			      <p>
			        Producao:
			      </p>
			      <ul class="list-inline list-unstyled">
			        {{#each pauta.producao as |user|}}
			          <li>
			            <img src="{{user.photoURL}}" class="card-user-image" alt="imagem do usuário participante da equipe" title="{{user.displayName}}">
			          </li>
			        {{/each}}
			      </ul> --}}
			    {{/md-card-content}}
			    {{#md-card-reveal}}
			      <p>
			        Data:
			        <hr>
			        {{pauta.dataHora}}
			      </p>
			      <p>
			        Horário:
			        <hr>
			        {{pauta.horario}}
			      </p>
			      <p>
			        Local:
			        <hr>
			        {{pauta.local}}
			      </p>
			      <p>
			        Informações:
			        <hr>
			        <small class="text-left">
			          {{pauta.informacoes}}
			        </small>
			      </p>
			    {{/md-card-reveal}}
			{{/md-card}}
		</div>
		{{!-- <div class="col l2 m2 s12">&nbsp;</div> --}}
	</div>
</div>