<div class="container">
	{{!-- LOCAL FORMADO POR LAT E LNG COM MAPA --}}
	{{!-- {{#if session.currentUser.isAdmin}} --}}
    <div class="row">
      <div class="col l12 m12 s12">
        {{md-btn text='Pauta'
          icon='mdi-action-note-add'
          action='addPauta'
          class='deep-purple darken-3 pull-right'}}
      </div>
    </div>
    {{!-- {{/if}} --}}
	<div class="row">
		  <div class="col s12 m12 l12">
		  	{{g-maps name="my-map" lat=pauta.lat lng=pauta.lng zoom=14 markers=markers class="img-responsive"}}
		  </div>
	</div>
	<div class="row">
		{{md-input value=pauta.retranca label='Retranca' type="text" class="col s12 m12" validate=true}}
		
		<div class="col s12 m12 l12">
			<label for="local">Local</label>
			{{g-autocomplete value=pauta.local on-select=(action 'didUpdatePlace')}}
		</div>
		
		{{md-input-date label='Data' value=pauta.dataHora class="col s12 m12"}}

		{{!-- {{md-input value=pauta.local label='Local' type="text" class="col s12 m12" validate=true}} --}}
		{{md-input value=pauta.entrevistado label='Entrevistado' type="text" class="col s12 m12" validate=true}}
		{{md-input value=pauta.contato label='Contato' type="text" class="col s12 m12" validate=true}}
	</div>
	{{!-- CONTEÚDOS LONGOS --}}
	<div class="row">
	  {{md-textarea label='Encaminhamento'
	    value=pauta.encaminhamento class="col s12"}}
	</div>
	<div class="row">
	  {{md-textarea label='Informações'
	    value=pauta.informacoes class="col s12"}}
	</div>
	<div class="row">
	  {{md-textarea label='Sugestões'
	    value=pauta.sugestoes class="col s12"}}
	</div>

	{{!-- EQUIPE --}}
	<div class="row">
		<div class="col s12 l12 m12">
			<label>Equipe</label>
		</div>
		<div class="col s12 l12 m12">
			<ul class="list-inline list-unstyled">
				{{#each pauta.equipe as |user|}}
				  <li>
				  	<img src="{{user.photoURL}}" alt="imagem do usuário da equipe" class="card-user-image">
				  </li>
				{{/each}}
			</ul>
		</div>
	</div>

	{{!-- ESCOLHER USUÁRIOS PARA EQUIPE --}}

	<div class="row">
		{{md-select content=users  
		  value=users.id  
		  label="Usuários" 
		  prompt="Escolher..." 
		  optionLabelPath="content.displayName" 
		  optionValuePath="content.id" class="col s12"}}
	</div>

	{{!-- PRODUÇÃO --}}
	<div class="row">
		<div class="col s12 l12 m12">
			<label>Produção</label>
		</div>
		<div class="col s12 l12 m12">
			<ul class="list-inline list-unstyled">
				{{#each pauta.producao as |user|}}
				  <li>
				  	<img src="{{user.photoURL}}" alt="imagem do usuário da equipe" class="card-user-image">
				  </li>
				{{/each}}
			</ul>
		</div>
	</div>

	{{!-- ESCOLHER USUÁRIOS PARA PRODUÇÃO --}}

	<div class="row">
		{{md-select content=users  
		  value=users.id  
		  label="Usuários" 
		  prompt="Escolher..." 
		  optionLabelPath="content.displayName" 
		  optionValuePath="content.id" class="col s12"}}
	</div>
	<div class="row">
		<div class="col s12 m12">
			{{md-btn-submit icon='mdi-content-send'
		    iconPosition='right' action="editPauta" on-edit="editPauta" actionArg=pauta     
		    text='Gravar'}}
		</div>
	</div>
</div>