<div class="container">
	{{!-- LOCAL FORMADO POR LAT E LNG COM MAPA --}}
	{{!-- {{#if session.currentUser.isAdmin}} --}}
    <div class="row">
      <div class="col l12 m12 s12">
        {{md-btn text='Pauta'
          icon='mdi-action-note-add'
          action='addPauta'
          class='deep-purple darken-3 pull-right'}}
      </div>
    </div>
    {{!-- {{/if}} --}}
	<div class="row">
		  <div class="col s12 m12 l12">
		  	{{g-maps name="my-map" lat=pauta.lat lng=pauta.lng zoom=14 markers=markers class="img-responsive"}}
		  </div>
	</div>
	<div class="row">
		{{md-input value=pauta.retranca label='Retranca' type="text" class="col s12 m12 l12" validate=true}}
		
		<div class="col s12 m12 l12">
			<label for="local">Local</label>
			{{g-autocomplete value=pauta.local on-select=(action 'didUpdatePlace')}}
		</div>
		
		{{md-input-date label='Data' value=pauta.dataHora class="col s12 m12"}}
		
		<div class="col s12 m4 l4">
			<label for="local">Horário</label>
			{{md-input label='' type="time" value=pauta.horario}}
		</div>
		<div class="col s12 m4 l4">
			<label for="local">Entrevistado</label>
			{{md-input label='' type="text" value=pauta.entrevistado}}
		</div>
		<div class="col s12 m4 l4">
			<label for="local">Contato</label>
			{{md-input label='' type="text" value=pauta.contato}}
		</div>
	</div>
	{{!-- CONTEÚDOS LONGOS --}}
	<div class="row">
	    {{md-textarea label='Encaminhamento'
	    value=pauta.encaminhamento class="col s12 m12 l12"}}
	</div>
	<div class="row">
	  	{{md-textarea label='Informações'
	    value=pauta.informacoes class="col s12 m12 l12"}}
	</div>
	<div class="row">
	    {{md-textarea label='Sugestões'
	    value=pauta.sugestoes class="col s12 m12 l12"}}
	</div>

	{{!-- motorista --}}
	<div class="row">
		<div class="col s12 l6 m6">
			<label>Motorista</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each pauta.motorista as |user|}}
				  <li class="equipe-item">
				  	<img src="{{user.photoURL}}" alt="imagem do motorista" class="card-user-image">
				  	<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromMotorista" user}}></i>
				  </li>
				{{/each}}
			</ul>
			{{md-select content=users  
			  value=usuarioEscolhidoMotorista
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToMotorista" buttonType='floating'
				class='' actionArg=usuarioEscolhidoMotorista}}
		</div>
		<div class="col s12 l6 m6">
			<label>Reporter</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each pauta.reporter as |user|}}
				  <li class="equipe-item">
				  	<img src="{{user.photoURL}}" alt="imagem do reporter" class="card-user-image">
				  	<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromReporter" user}}></i>
				  </li>
				{{/each}}
			</ul>
			{{md-select content=users  
			  value=usuarioEscolhidoReporter
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToReporter" buttonType='floating'
				class='' actionArg=usuarioEscolhidoReporter}}
		</div>
		<br>
		<div class="col s12 l6 m6 user-add-funcao">
			<label>Fotografo</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each pauta.fotografo as |user|}}
				  <li class="equipe-item">
				  	<img src="{{user.photoURL}}" alt="imagem do fotografo" class="card-user-image">
				  	<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromFotografo" user}}></i>
				  </li>
				{{/each}}
			</ul>
			{{md-select content=users  
			  value=usuarioEscolhidoFotografo
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToFotografo" buttonType='floating'
				class='' actionArg=usuarioEscolhidoFotografo}}
		</div>
		<div class="col s12 l6 m6 user-add-funcao">
			<label>Producao</label>
			<br>
			<ul class="list-inline list-unstyled">
				{{#each pauta.producao as |user|}}
				  <li class="equipe-item">
				  	<img src="{{user.photoURL}}" alt="imagem do producao" class="card-user-image">
				  	<i class="mdi-content-remove-circle equipe-close" {{action "removeUserFromProducao" user}}></i>
				  </li>
				{{/each}}
			</ul>
			{{md-select content=users  
			  value=usuarioEscolhidoProducao
			  label="" 
			  prompt="Escolher..." 
			  optionLabelPath="content.displayName" 
			  optionValuePath="content.id" class=""}}
			{{md-btn icon='mdi-content-add'
				action="addUserToProducao" buttonType='floating'
				class='' actionArg=usuarioEscolhidoProducao}}
		</div>
	</div>

	<div class="row">
		<div class="col s12 m12">
			{{md-btn-submit icon='mdi-content-send'
		    iconPosition='right' action="editPauta" on-edit="editPauta" actionArg=pauta     
		    text='Gravar'}}
		</div>
	</div>
</div>