{{yield}}
<div class="row">
  <div class="col s12 m12">
  	<img src="{{user.photoURL}}" alt="avatar do usuário">
  </div>
</div>
<div class="row">
	{{md-input value=user.displayName label='Nome' type="text" class="col s12 m12" validate=true}}
	{{md-input value=user.email label='Email' type="email" class="col s12 m12" validate=true}}
	<div class="col s12 m12">
		{{md-btn-submit icon='mdi-content-send'
	    iconPosition='right' on-action="gravarUsuario" actionArg=model.user 
	    text='Gravar'}}
	</div>
</div>