{{yield}}
<div class="row">
	  <div class="col s12 m12">
	  	<img src="{{model.user.photoURL}}" alt="avatar do usuário">
	  </div>
</div>
<div class="row">
	{{md-input value=model.user.displayName label='Nome' type="text" class="col s12 m12" validate=true}}
	{{md-input value=model.user.email label='Email' type="email" class="col s12 m12" validate=true}}
</div>
{{!-- <div class="row">
	<div class="col s12 l12 m12">
	{{#each funcao as |item|}}
	  {{item.id}}:{{item.title}}
	{{/each}}
	</div>
</div> --}}
{{!-- {{log 'aha' model.user.funcaoid}} --}}
{{!-- {{log 'esc' funcaoEscolhida}} --}}
{{#each model.funcao as |item|}}
	{{item.title}}<br>
{{/each}}
<div class="row">
  {{md-select content=model.funcao  
    value=funcaoEscolhida  
    label="Função" 
    prompt="Escolher..." 
    optionLabelPath="content.title" 
    optionValuePath="content.id" class="col s12"}}
</div>
<div class="row">
	<div class="col s12 m12">
		{{md-btn-submit icon='mdi-content-send'
	    iconPosition='right' action="gravarUsuario" on-action="gravarUsuario" actionArg=funcaoEscolhida  
	    text='Gravar'}}
	</div>
</div>