<div class="container">
  <div class="row">
    <div class="col s12 m12">
      {{#if session.isAuthenticated}}
      	{{user-view user=model.user on-action="gravarUsuario"}}
        {{!-- <hr> --}}
        {{!-- {{preferencias-view user=model.user tags=model.tags checkboxSelections=checkboxSelections}} --}}
      {{else}}
          <h1 class="header">{{model.props.title}}</h1>
          <h4 class="header">{{model.props.subtitle}}</h4>
          {{model.props.content}}
      {{/if}}  
    </div>    
  </div>
</div>