{{#md-navbar name='e-pautas' session=session class='indigo' homeRoute='home'}}
  <!-- A workaround to get the "active" clasas
    to apply to the active <li> automatically -->
  {{#link-to 'home' tagName='li'}}
    {{link-to 'Home'}}
  {{/link-to}}
  {{log 'isAdmin' session.currentUser.isAdmin}}
  {{#if session.isAuthenticated}}
      {{#if session.currentUser.isAdmin}}
        {{#link-to 'usuarios' tagName='li'}}
          {{link-to 'Usuários'}}
        {{/link-to}}
      {{/if}}
      {{#link-to 'usuario.perfil' session.currentUser.uid tagName='li'}}
        {{!-- {{link-to 'Perfil'}} --}}
        <a href="#">
          <img src={{session.currentUser.photoURL}} class="img-perfil" alt="...">
        </a>
      {{/link-to}}
      {{#link-to 'pautas' tagName='li'}}
        {{link-to 'Pautas'}}
      {{/link-to}}
      <li><a href="#" {{action "logout"}}>Logout</a></li>
  {{else}}
      <li><a href="#" {{action "login"}}>Login</a></li>
  {{/if}}
{{/md-navbar}}