{{#md-navbar name='e-pautas' session=session class='indigo' homeRoute='home'}}
  {{#link-to 'home' tagName='li'}}
    {{link-to 'Home'}}
  {{/link-to}}
  {{#if session.isAuthenticated}}
      {{#if session.currentUser.isAdmin}}
        {{!-- ADMIN: Usuários, Pautas, Logout --}}
        {{#link-to 'usuarios' tagName='li'}}
          {{link-to 'Usuários'}}
        {{/link-to}}
      {{else}}
        {{!-- USUÁRIO: Perfil, Pautas, Logout --}}
        {{#link-to 'usuario.perfil' session.currentUser.uid tagName='li'}}
          <a href="#">
            <img src={{session.currentUser.photoURL}} class="img-perfil" alt="...">
          </a>
        {{/link-to}}
      {{/if}}
      {{#link-to 'pautas' tagName='li'}}
        {{link-to 'Pautas'}}
      {{/link-to}}
      <li><a href="#" {{action "logout"}}>Logout</a></li>
  {{else}}
      <li><a href="#" {{action "login"}}>Login</a></li>
  {{/if}}
{{/md-navbar}}