{{#md-navbar name='e-pautas' class='indigo' homeRoute='home'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'home' tagName='li'}}
    {{link-to 'Home'}}
    {{!-- <a href="">
      {{fa-icon "home"}}
    </a> --}}
  {{/link-to}}
  {{!-- {{log 'navbar' session.currentUser.isAdmin}} --}}
  {{#if session.isAuthenticated}}
      {{#if session.currentUser.isAdmin}}
        {{#link-to 'admin' tagName='li'}}
          {{link-to 'Admin'}}
        {{/link-to}}
      {{/if}}
      {{#link-to 'usuario.perfil' session.currentUser.uid tagName='li'}}
        {{!-- {{link-to 'Perfil'}} --}}
        <a href="#">
          <img src={{session.currentUser.photoURL}} class="img-perfil" alt="...">
        </a>
      {{/link-to}}
      {{#link-to 'pautas' tagName='li'}}
        {{link-to 'Pautas'}}
      {{/link-to}}
      {{#link-to 'noticias' 1 tagName='li'}}
        {{link-to 'Notícias'}}
      {{/link-to}}
      <li><a href="#" {{action "logout"}}>Logout</a></li>
  {{else}}
      <li><a href="#" {{action "login"}}>Login</a></li>
  {{/if}}
{{/md-navbar}}