<div class="container">
  <div class="row">
    <div class="col s12 m12">
      {{#if session.isAuthenticated}}
        {{#if session.currentUser.isAdmin}}
          <div class="row">
            <div class="col l12 m12 s12">
              {{md-btn text='Pauta'
                icon='mdi-action-note-add'
                action='addPauta'
                class='deep-purple darken-3 pull-right'}}
            </div>
          </div>
        {{/if}}
          {{!-- {{#each model as |item|}}
              {{item.retranca}} <br>
          {{/each}} --}}
          {{pautas-view model=model session=session on-ver="verPauta" on-edit="editPauta" on-del="delPauta"}}
      {{else}}
          <h1 class="header">Acesso negado</h1>
          Você não tem permissão para acessar essa área
      {{/if}}  
    </div>    
  </div>
</div>
{{outlet}}