<div class="container">
	<div class="row">
	  <div class="col l12 m12 s12">
	    <h1 class="header">{{props.title}}</h1>
	    {{props.subtitle}}
	  </div>
	</div>
	{{!-- {{#each model as |noticia|}}
		{{noticia.title}}
		 {{#each noticia.tags as |value|}}
        	<span>{{link-to value.title "tag" value.slug 1}}</span>
      	{{/each}}
	{{/each}} --}}
	<div class="row">
	  <div class="col l12 m12 s12">
	    {{noticias-list model=model page=page origem="tag"}}
	  </div>
	</div>
</div>
{{outlet}}