<div class="container">
 {{!--  <div class="row">
   <div class="col s12 m12">
   		{{log model}}
		{{users-view model=model}}
   </div> --}}
  		{{!-- {{md-tabs 
  		content=basicTabsContent
	    selected=basicTabsSelection}} --}}
  {{!-- </div> --}}
  {{!-- <div class="row">
  	<div id="tab-content" class="col s12 m4 l4">
  		conteúdo
  	</div>
  </div> --}}
  <div class="row">
    <div class="col s12 m12">
      {{#if session.isAuthenticated}}
      	{{#if session.currentUser.isAdmin}}
      		{{users-view users=model.users}}
        {{else}}
          <h1 class="header">Acesso negado</h1>
          {{!-- <h4 class="header"></h4> --}}
          Você não tem permissão para acessar essa área
        {{/if}}
      {{else}}
          <h1 class="header">Acesso negado</h1>
          {{!-- <h4 class="header"></h4> --}}
          Você não tem permissão para acessar essa área
      {{/if}}  
    </div>    
  </div>
</div>
{{outlet}}